Repository NewShiftStudio/gour-main-service, pull requests merged in 2022-10, with the labels that each got.

#32 QA-851: Password recovery, main address change fix
  src/entity/Client.ts
  src/features/auth/auth.controller.ts
  src/features/auth/auth.service.ts
  src/features/auth/current-user.controller.ts
  src/features/auth/current-user.service.ts
  src/features/auth/dto/recover-password.dto.ts
  src/migration/1663683070458-ClientMainAddress.ts
Labels: bug, feat

#46 Архитектура склада и получение остатков ассортимента по городу граммам и абстрактному id
  .example.env
  src/app.module.ts
  src/features/warehouse/@types/Moysklad.ts
  src/features/warehouse/@types/WarehouseService.ts
  src/features/warehouse/@types/shared-kernel.d.ts
  src/features/warehouse/dto/get-stock-of-product.dto.ts
  src/features/warehouse/moysklad.service.ts
  src/features/warehouse/warehouse.controller.spec.ts
  src/features/warehouse/warehouse.controller.ts
  src/features/warehouse/warehouse.module.ts
  src/features/warehouse/warehouse.service.spec.ts
  src/features/warehouse/warehouse.service.ts
  src/main.ts
Labels: feat

#47 feat: 🎸 проверка участия категорий в скидках
  src/features/category/category.repository.ts
  src/features/category/category.service.ts
Labels: feat

#52 feat: удаление игровой жизни
  src/entity/Client.ts
  src/features/auth/current-user.controller.ts
  src/features/auth/current-user.service.ts
Labels: feat

#50 fix: создание и редактирование акций
  src/features/promotion/dto/promotion-update.dto.ts
  src/features/promotion/promotion.service.ts
Labels: fix

#48 fix: 🐛 сохранение данных в ЛК
  src/features/auth/current-user.service.ts
Labels: fix

#53 fix: 🐛 удаление клиента
  src/features/auth/auth.service.ts
  src/features/client/client.service.ts
Labels: fix

#54 feat: 🎸 Добавил логику кошелька, оплату, списания и изменение
  .example.env
  src/entity/Client.ts
  src/entity/Wallet.ts
  src/entity/WalletTransaction.ts
  src/features/auth/auth.module.ts
  src/features/auth/auth.service.ts
  src/features/auth/current-user.controller.ts
  src/features/auth/current-user.service.ts
  src/features/auth/jwt.service.ts
  src/features/category/category.repository.ts
  src/features/client/client.controller.ts
  src/features/client/client.service.ts
  src/features/client/dto/client-create.dto.ts
  src/features/client/dto/client-get-list.dto.ts
  src/features/wallet/dto/create-transaction.dto.ts
  src/features/wallet/dto/invoice.dto.ts
  src/features/wallet/dto/wallet-change-value.dto.ts
  src/features/wallet/dto/wallet-replenish-balance.dto.ts
  src/features/wallet/wallet.controller.ts
  src/features/wallet/wallet.module.ts
  src/features/wallet/wallet.service.ts
  src/main.ts
Labels: feat
