Repository NewShiftStudio/gour-main-service, pull requests merged in 2022-11, with the labels that each got.

#64 feat: 🎸 Добавил метод для пополнения чизкойнов по токену
  .example.env
  src/app.module.ts
  src/entity/Wallet.ts
  src/features/auth/jwt.service.ts
  src/features/wallet/dto/invoice.dto.ts
  src/features/wallet/dto/wallet-buy-coins.dto.ts
  src/features/wallet/dto/wallet-replenish-balance.dto.ts
  src/features/wallet/wallet.controller.ts
  src/features/wallet/wallet.service.ts
Labels: feat

#55 fix: 🐛 продукты в акции
  src/features/promotion/promotion.service.ts
Labels: fix

#56 feat: загрузка баннера для страниц с информацией
  .example.env
  src/entity/Page.ts
  src/features/auth/auth.service.ts
  src/features/page/dto/page-create.dto.ts
  src/features/page/dto/page-update.dto.ts
  src/features/page/page.module.ts
  src/features/page/page.service.ts
  src/migration/.gitkeep
  src/migration/1667297263703-page-banner-image.ts
Labels: feat

#65 feat: 🎸 обновление статуса заказа
  .example.env
  src/entity/Order.ts
  src/features/meta/meta.service.ts
  src/features/order-profile/order-profile.service.ts
  src/features/order/@types/AmoCrm.ts
  src/features/order/amo-crm.service.ts
  src/features/order/dto/lead-create.dto.ts
  src/features/order/dto/order-create.dto.ts
  src/features/order/order.controller.ts
  src/features/order/order.module.ts
  src/features/order/order.service.ts
  src/features/warehouse/@types/Moysklad.ts
  src/features/warehouse/moysklad.helper.ts
  src/features/warehouse/moysklad.service.ts
  src/features/warehouse/warehouse.service.ts
  src/migration/1668180608758-order-ids.ts
  src/migration/1668183524059-order-client-fields.ts
  src/migration/1668439549503-order_without_status.ts
Labels: feat

#66 feat: crm информация у заказов
  src/features/order/@types/AmoCrm.ts
  src/features/order/amo-crm.service.ts
  src/features/order/order.controller.ts
  src/features/order/order.service.ts
  src/features/warehouse/moysklad.helper.ts
Labels: feat

#68 feat: 🎸 обновление статуса заказа в МоёмСкладе при оплате
  src/features/order/order.service.ts
  src/features/warehouse/moysklad.service.ts
  src/features/warehouse/warehouse.service.ts
Labels: feat

#69 fix: обновление статуса по токену
  .example.env
  src/features/meta/meta.service.ts
  src/features/order/@types/AmoCrm.ts
  src/features/order/amo-crm.service.ts
  src/features/order/dto/update-order-status.dto.ts
  src/features/order/order.controller.ts
  src/features/order/order.service.ts
  src/features/warehouse/@types/Moysklad.ts
  src/features/warehouse/moysklad.service.ts
  src/features/warehouse/warehouse.service.ts
Labels: fix, refactor

#71 hotfix: обновление статуса по токену без редиректа
  src/features/order/order.service.ts
  src/features/warehouse/moysklad.service.ts
Labels: fix
